<h1>Event Show Page</h1>
<div>
        <div>{{ctrl.specificEvents.name}}  </div>
        <div>{{ctrl.specificEvents.date | date:'MM/dd/yyyy @ h:mma'}}  </div>
        <div>{{ctrl.specificEvents.description}}  </div>
        <div>{{ctrl.specificEvents.location}}  </div>
        <div>{{ctrl.specificEvents.cost}}  </div>
        <div>{{ctrl.specificEvents.gender}}  </div>
        <button ng-click="ctrl.removeEvent(ctrl.specificEvents.sport_id, ctrl.specificEvents.id); ctrl.selected_partial='events'" ng-if="ctrl.today > ctrl.event_date" type="button" name="button">Delete This Event</button>




</div>
