
<div class="container">
  <div class="col-sm-3 ">
    <div class="panel panel-default">
      <div class="panel-heading">Sort Options:</div>
      <div class="panel-body">
        <h5>Sport:</h5>
        <div ng-repeat="sport in ctrl.sports" class="checkbox">
          <label>
            <input ng-model="ctrl.eventSearchFilterSports[sport.name]" type="checkbox" value="{{sport.name}}">
            {{sport.name}}
          </label>
        </div>
        <h5>Gender:</h5>
        <div class="checkbox">
          <label>
            <input ng-model="ctrl.eventSearchFilterGenders['male']" type="checkbox" value="male">
            Male
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input ng-model="ctrl.eventSearchFilterGenders['female']" type="checkbox" value="female">
            Female
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input ng-model="ctrl.eventSearchFilterGenders['coed']" type="checkbox" value="coed">
            Coed
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-9 events">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">Events
          <input class="pull-right"  ng-model="ctrl.eventSearchTerm" type="text" name="" placeholder="Search">
        </h2>
      </div>
      <div class="panel-body">
        <div class="panel panel-default" ng-repeat="event in ctrl.allEvents | orderBy:'date' | filter:ctrl.filterEvents | filter:ctrl.eventSearchTerm">
          <div class="panel-heading">
            <h5 ng-click="ctrl.getSpecificEvent(event.id); ctrl.selected_partial = 'eventShowPage';ctrl.leaveSportsShowPage()" class="panel-title sport-panel">{{ event.name }}
              <small class="pull-right">{{ event.date | date:'MM/dd/yyyy @ h:mma'}}</small>
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
